/* Project Colors */
.ec-dark-blue{
    color: rgb(66, 91, 154);
}

.bg-ec-dark-blue{
    background-color: rgb(118, 192, 236);
}

.ec-light-blue{
    color: rgb(118, 192, 236);
}

.bg-ec-light-blue{
    background-color: rgb(118, 192, 236);
}

.ec-beige{
    color: rgb(255, 246, 220);
}

.bg-ec-beige{
    background-color: rgb(255, 246, 220);
}

.ec-pink{
    color: rgb(255, 149, 165);
}

.bg-ec-pink{
    background-color: rgb(255, 149, 165);
}

/* Web Colors End */

/* Navbar Buttons */
.nav-button {
    background-color: rgb(66, 91, 154) ;
    border-radius: 6px;
    padding: 8px 14px;
    margin-left: 12px;
}

/* Navbar Buttons end */

/* Navbar Search */

.nav-search {
    width: 200px;
}

/* Navbar Search end */



/* signup page */
.signup-container {
    max-width: 650px;
    margin: 50px auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

.signup-container h1 {
    text-align: center;
    margin-bottom: 10px;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 35px;
}

/* login page */

.login-container {
    max-width: 600px;
    margin: 60px auto;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 12px;
}

/* profile page */ 
